:root {
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --third-family: "Roboto", sans-serif;

  --color-dark: #0e0d0d;
  --color-white: #fff;
  --color-body: #fdfdf0;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans.woff2") format("woff2-variations");
  src: url("../fonts/NunitoSans.woff2") format("woff2") tech("variations");
  font-weight: 300 700;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
body {
  font-size: 16px;
  line-height: 1.35;
  font-family: var(--font-family);
  background-color: var(--color-body);
  color: var(--color-dark);
}

.header {
}
.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-big {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-weight: 500;
}
.logo {
  padding: 30px 0;
}
.menu {
}
.menu__list {
  display: flex;
  gap: 0 30px;
}
.menu__item {
}
.menu__link {
  text-transform: uppercase;
}
.header__contacts {
  font-weight: 700;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-transform: uppercase;
}

.about {
  margin-bottom: 150px;
}

.about__top {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-body);
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 748px;
}
.about__title {
  padding: 80px 0 0;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 250px;
  line-height: 0.9;
}
.about__text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  font-family: var(--second-family);
}
.about__items {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: -50px;
  margin-bottom: 90px;
}

.about__item {
  display: flex;
  border-radius: 20px;
  background-color: #f4f4e7;
  max-width: 580px;
  padding: 14px 10px;
  gap: 0 25px;
}
.about__item-imgbox {
  min-width: 214px;
}
.about__item-img {
}
.about__item-arrow {
}
.about__item-content {
}
.about__item-title {
}
.about__item-text {
}
